.cart-widget{
    font-size: 30px;
    display: flex;
    gap: 5px;
visibility: hidden;
    color: white;
    transition: all .6s;
}

.cart-widget span{
    font-size: 20px;
    position: absolute;
    top:50px;
    right: 100px;
}

.cart-widget-active {

visibility: visible;
}